@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
    background: #19a1ae;
    font-family: "Kumbh Sans", sans-serif;
    font-family: "Kumbh Sans", sans-serif;
    background-image: url(./images/bg-pattern-top.svg),url(./images/bg-pattern-bottom.svg);
    background-position: -60% 210%, 150% -145%;
    background-repeat: no-repeat, no-repeat;
    background-size: fill; 
}


main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 326px;
  height: 374px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 50px 100px -20px #08465E81;

}
.card-pattern {
  width:100%;
  height:140px;
  object-fit:cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: block;  
}
.rest {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  line-height: 100%;
}
.headshot {
  border-radius: 50%;
  border: 5px solid #FFFFFF;
  width: 96px;
  height: 96px;
  position: absolute;
  top: -53px;
}
.name-age {
  display: flex;
  margin-top: 72px;
  font-size: 18px;
}
.name {
  font-weight: 700;
  color: #2e3349;
  font-family: Kumbh Sans;
}
.age {
  font-weight: 400;
  padding-left: 8.5px;
  color: #6b7082;

}

.location {
  font-weight: 400;
  font-size: 14px;
  color: #6b7082;
  padding-top: 13px;
  font-family: Kumbh Sans;
  line-height: 17px;
}
.line {
  border: 0;
  height: 1px;
  width: 100%;
  background: #e8e9ec;
  margin-top: 28px;
}
.stats {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 23px;
}
.count {
  font-weight: 700;
  color: #2e3349;
  font-size: 18px;
  font-family: Kumbh Sans;
  line-height: 22px;
  font-family: Kumbh Sans;

}
.type {
  font-weight: 400;
  color: #6b7082;
  font-size: 10px;
  line-height:12px;
  padding-top: 7px;
  letter-spacing: 1.5px;
}

@media (min-width:480px){
    .card {
    width: 350px;
    height: 374px;
    background: #ffffff;
    border-radius: 15px;
  }
}
